{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_profile_edit'), 'attr': {'class': 'login100-form validate-form'}}) }}




    <div class="row">

        <div class="col-sm-2 ">{{ form_label(form.email) }}</div>

        <div class="col-sm-8">{{ form_widget(form.email) }}</div>

    </div>
<div class="row">

        <div class="col-sm-2 ">{{ form_label(form.username) }}</div>

        <div class="col-sm-8 ">{{ form_widget(form.username) }}</div>

    </div>
<div class="row">

        <div class="col-sm-2 ">{{ form_label(form.current_password) }}</div>

        <div class="col-sm-8 ">{{ form_widget(form.current_password) }}</div>

    </div>

    <div class="row">

        <div class="col-sm-2 ">{{ form_label(form.image) }}</div>

        <div class="col-sm-8 ">{{ form_widget(form.image) }}</div>

    </div>


  










<div class="col-sm-4 col-sm-offset-5">

    <input type="submit" value="Update" />

</div>


{{ form_end(form) }}
