<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}
							{% endblock %}</title>

<link href="{{ asset ('template_admin/img/favicon.144x144.png rel="apple-touch-icon" type="image/png" sizes="144x144"')}}">
<link href="{{ asset ('template_admin/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114')}}">
<link href="{{ asset ('template_admin/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72')}}">
<link href="{{ asset ('template_admin/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png')}}">
<link href="{{ asset ('template_admin/img/favicon.png" rel="icon" type="image/png')}}">
<link href="{{ asset ('template_admin/img/favicon.ico" rel="shortcut icon')}}">

	
<link rel="stylesheet" href="{{ asset ('template_admin/css/lib/lobipanel/lobipanel.min.css')}}">
<link rel="stylesheet" href="{{ asset ('template_admin/css/separate/vendor/lobipanel.min.css')}}">
<link rel="stylesheet" href="{{ asset ('template_admin/css/lib/jqueryui/jquery-ui.min.css')}}">
<link rel="stylesheet" href="{{ asset ('template_admin/css/separate/pages/widgets.min.css')}}">
<link rel="stylesheet" href="{{ asset ('template_admin/css/lib/font-awesome/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{ asset ('template_admin/css/lib/bootstrap/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ asset ('template_admin/css/main.css')}}">
<link rel="stylesheet" href="{{ asset ('css/chosen.css')}}">
</head>
<body class="with-side-menu control-panel control-panel-compact">

	<header class="site-header">
	    <div class="container-fluid">
	        <a href="#" class="site-logo">
	            <img class="hidden-md-down" src="{{ asset ('template_admin/img/admin_logo.jpg')}}" alt="">
	            <img class="hidden-lg-down" src="{{ asset ('template_admin/img/logo-2-mob.png')}}" alt="">
	        </a>
	
		        <button id="show-hide-sidebar-toggle" class="show-hide-sidebar">
	            <span>toggle menu</span>
	        </button>
	
	        <button class="hamburger hamburger--htla">
	            <span>toggle menu</span>
	        </button>
	        <div class="site-header-content">
	            <div class="site-header-content-in">
	                <div class="site-header-shown">
	                    <div class="dropdown dropdown-notification notif">
	                        <a href="#"
	                           class="header-alarm dropdown-toggle active"
	                           id="dd-notification"
	                           data-toggle="dropdown"
	                           aria-haspopup="true"
	                           aria-expanded="false">
	                            <i class="font-icon-alarm"></i>
	                        </a>
	                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-notif" aria-labelledby="dd-notification">
	                            <div class="dropdown-menu-notif-header">
	                                Notifications
	                                <span class="label label-pill label-danger">4</span>
	                            </div>
	                            <div class="dropdown-menu-notif-list">
	                                <div class="dropdown-menu-notif-item">
	                                    <div class="photo">
	                                        <img src="img/photo-64-1.jpg" alt="">
	                                    </div>
	                                    <div class="dot"></div>
	                                    <a href="#">Morgan</a> was bothering about something
	                                    <div class="color-blue-grey-lighter">7 hours ago</div>
	                                </div>
	                                <div class="dropdown-menu-notif-item">
	                                    <div class="photo">
	                                        <img src="img/photo-64-2.jpg" alt="">
	                                    </div>
	                                    <div class="dot"></div>
	                                    <a href="#">Lioneli</a> had commented on this <a href="#">Super Important Thing</a>
	                                    <div class="color-blue-grey-lighter">7 hours ago</div>
	                                </div>
	                                <div class="dropdown-menu-notif-item">
	                                    <div class="photo">
	                                        <img src="img/photo-64-3.jpg" alt="">
	                                    </div>
	                                    <div class="dot"></div>
	                                    <a href="#">Xavier</a> had commented on the <a href="#">Movie title</a>
	                                    <div class="color-blue-grey-lighter">7 hours ago</div>
	                                </div>
	                                <div class="dropdown-menu-notif-item">
	                                    <div class="photo">
	                                        <img src="img/photo-64-4.jpg" alt="">
	                                    </div>
	                                    <a href="#">Lionely</a> wants to go to <a href="#">Cinema</a> with you to see <a href="#">This Movie</a>
	                                    <div class="color-blue-grey-lighter">7 hours ago</div>
	                                </div>
	                            </div>
	                            <div class="dropdown-menu-notif-more">
	                                <a href="#">See more</a>
	                            </div>
	                        </div>
	                    </div>
	
	                    <div class="dropdown dropdown-notification messages">
	                        <a href="#"
	                           class="header-alarm dropdown-toggle active"
	                           id="dd-messages"
	                           data-toggle="dropdown"
	                           aria-haspopup="true"
	                           aria-expanded="false">
	                            <i class="font-icon-mail"></i>
	                        </a>
	                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-messages" aria-labelledby="dd-messages">
	                            <div class="dropdown-menu-messages-header">
	                                <ul class="nav" role="tablist">
	                                    <li class="nav-item">
	                                        <a class="nav-link active"
	                                           data-toggle="tab"
	                                           href="#tab-incoming"
	                                           role="tab">
	                                            Inbox
	                                            <span class="label label-pill label-danger">8</span>
	                                        </a>
	                                    </li>
	                                    <li class="nav-item">
	                                        <a class="nav-link"
	                                           data-toggle="tab"
	                                           href="#tab-outgoing"
	                                           role="tab">Outbox</a>
	                                    </li>
	                                </ul>
	                                <!--<button type="button" class="create">
	                                    <i class="font-icon font-icon-pen-square"></i>
	                                </button>-->
	                            </div>
	                            <div class="tab-content">
	                                <div class="tab-pane active" id="tab-incoming" role="tabpanel">
	                                    <div class="dropdown-menu-messages-list">
	                                        <a href="#" class="mess-item">
	                                            <span class="avatar-preview avatar-preview-32"><img src="img/photo-64-2.jpg" alt=""></span>
	                                            <span class="mess-item-name">Tim Collins</span>
	                                            <span class="mess-item-txt">Morgan was bothering about something!</span>
	                                        </a>
	                                        <a href="#" class="mess-item">
	                                            <span class="avatar-preview avatar-preview-32"><img src="img/avatar-2-64.png" alt=""></span>
	                                            <span class="mess-item-name">Christian Burton</span>
	                                            <span class="mess-item-txt">Morgan was bothering about something! Morgan was bothering about something.</span>
	                                        </a>
	                                        <a href="#" class="mess-item">
	                                            <span class="avatar-preview avatar-preview-32"><img src="img/photo-64-2.jpg" alt=""></span>
	                                            <span class="mess-item-name">Tim Collins</span>
	                                            <span class="mess-item-txt">Morgan was bothering about something!</span>
	                                        </a>
	                                        <a href="#" class="mess-item">
	                                            <span class="avatar-preview avatar-preview-32"><img src="img/avatar-2-64.png" alt=""></span>
	                                            <span class="mess-item-name">Christian Burton</span>
	                                            <span class="mess-item-txt">Morgan was bothering about something...</span>
	                                        </a>
	                                    </div>
	                                </div>
	                                <div class="tab-pane" id="tab-outgoing" role="tabpanel">
	                                    <div class="dropdown-menu-messages-list">
	                                        <a href="#" class="mess-item">
	                                            <span class="avatar-preview avatar-preview-32"><img src="img/avatar-2-64.png" alt=""></span>
	                                            <span class="mess-item-name">Christian Burton</span>
	                                            <span class="mess-item-txt">Morgan was bothering about something! Morgan was bothering about something...</span>
	                                        </a>
	                                        <a href="#" class="mess-item">
	                                            <span class="avatar-preview avatar-preview-32"><img src="img/photo-64-2.jpg" alt=""></span>
	                                            <span class="mess-item-name">Tim Collins</span>
	                                            <span class="mess-item-txt">Morgan was bothering about something! Morgan was bothering about something.</span>
	                                        </a>
	                                        <a href="#" class="mess-item">
	                                            <span class="avatar-preview avatar-preview-32"><img src="img/avatar-2-64.png" alt=""></span>
	                                            <span class="mess-item-name">Christian Burtons</span>
	                                            <span class="mess-item-txt">Morgan was bothering about something!</span>
	                                        </a>
	                                        <a href="#" class="mess-item">
	                                            <span class="avatar-preview avatar-preview-32"><img src="img/photo-64-2.jpg" alt=""></span>
	                                            <span class="mess-item-name">Tim Collins</span>
	                                            <span class="mess-item-txt">Morgan was bothering about something!</span>
	                                        </a>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="dropdown-menu-notif-more">
	                                <a href="#">See more</a>
	                            </div>
	                        </div>
	                    </div>
	
	         
	
	                    <div class="dropdown user-menu">
	                        <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                            <img src="img/avatar-2-64.png" alt="">
	                        </button>
	                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
								<a class="dropdown-item" href="{{path('fos_user_profile_admin_show')}}"><span class="font-icon glyphicon glyphicon-user"></span>Profile</a>
								<a class="dropdown-item" href="{{path('fos_user_profile_admin_edit')}}"><span class="font-icon glyphicon glyphicon-cog"></span>Settings</a>
	                            <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-question-sign"></span>Help</a>
	                            <div class="dropdown-divider"></div>
	                            <a class="dropdown-item" href="#"><span class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>
	                        </div>
	                    </div>
	
	                    <button type="button" class="burger-right">
	                        <i class="font-icon-menu-addl"></i>
	                    </button>
	                </div><!--.site-header-shown-->
	
	                <div class="mobile-menu-right-overlay"></div>
	                <div class="site-header-collapsed">
	                    <div class="site-header-collapsed-in">
	            
	                        
	                  
	                     
	                        
	          
	                        <div class="site-header-search-container">
	                            <form class="site-header-search closed">
	                                <input type="text" placeholder="Search"/>
	                                <button type="submit">
	                                    <span class="font-icon-search"></span>
	                                </button>
	                                <div class="overlay"></div>
	                            </form>
	                        </div>
	                    </div>
	                </div> 
	            </div> 
	        </div> 
	    </div> 
	</header>

	<div class="mobile-menu-left-overlay"></div>
	<nav class="side-menu">
	    <ul class="side-menu-list">
	        <li class="grey with-sub">
	            <span>
	                <i class="font-icon font-icon-dashboard"></i>
	                <span class="lbl">Dashboard</span>
	            </span>
	      
	        </li>
	        
	        <li class="purple with-sub">
	            <span>
	                <i class="font-icon font-icon-comments active"></i>
	                <span class="lbl">Messages</span>
	            </span>
	            <ul>
	                <li><a href="messenger.html"><span class="lbl">Messenger</span></a></li>
	                <li><a href="chat.html"><span class="lbl">Messages</span><span class="label label-custom label-pill label-danger">8</span></a></li>
	                <li><a href="chat-write.html"><span class="lbl">Write Message</span></a></li>
	                <li><a href="chat-index.html"><span class="lbl">Select User</span></a></li>
	            </ul>
	        </li>
	        <li class="red">
	            <a href="mail.html">
	                <i class="font-icon glyphicon glyphicon-send"></i>
	                <span class="lbl">Mail</span>
	            </a>
	        </li>
	       
	        
	        <li class="blue with-sub">
	            <span>
	                <i class="font-icon font-icon-user"></i>
	                <span class="lbl">Users</span>
	            </span>
	            <ul>
	                <li><a href="{{ path('user_index') }}"><span class="lbl">Utilisateurs</span></a></li>
	            </ul>
	        </li>

<li class="purple with-sub">
	            <span>
	                <i class="fa fa-lock"></i>
	                <span class="lbl">Tools</span>
	            </span>
	            <ul>
	                <li><a href="{{ path('cv_index') }}"><span class="lbl">Create CV</span></a></li>
	                <li><a href="{{ path('templates_index') }}"><span class="lbl">Templates</span></a></li>
	                   <li><a href="{{ path('groupes_index') }}"><span class="lbl">Groupes</span><span class="label label-custom label-pill label-danger">
					  					   </span></a></li>
	                 <li><a href="{{ path('champs_index') }}"><span class="lbl">Champs</span></a></li>
					<li><a href="{{ path('sections_index') }}"><span class="lbl">Sections</span></a></li>

	            </ul>
	        </li>
	        
	
	   
	        
	            
	    </div>

    </nav>


   <div class="page-content">
		<div class="container-fluid">
			
				<section class="container-fluid ">
					<div class="container-fluid">
						<div class="container">
							{% block header %}
							{% endblock %}
							{% block body %}
							{% endblock %}
							{% block fos_user_content %}
							{% endblock %}

						  </div>
					</div>					
				</section><!--.mail-box-list-->

		</div><!--.container-fluid-->
	</div><!--.page-content-->

	<script src="{{ asset ('template_admin/js/lib/jquery/jquery-3.2.1.min.js')}}"></script>
	<script src="{{ asset ('template_admin/js/lib/popper/popper.min.js')}}"></script>
	<script src="{{ asset ('template_admin/js/lib/tether/tether.min.js')}}"></script>
	<script src="{{ asset ('template_admin/js/lib/bootstrap/bootstrap.min.js')}}"></script>
	<script src="{{ asset ('template_admin/js/plugins.js')}}"></script>
	<script src="{{ asset ('template_admin/js/lib/chosen/chosen.jquery.min.js')}}"></script>
	<script src="{{ asset ('template_admin/js/lib/chosen/prism.js')}}"></script>
	{% block javascripts %}
	
        {% endblock %}

	<script type="text/javascript" src="{{ asset ('template_admin/js/lib/jqueryui/jquery-ui.min.js')}}"></script>
	<script type="text/javascript" src="{{ asset ('template_admin/js/lib/lobipanel/lobipanel.min.js')}}"></script>
	<script type="text/javascript" src="{{ asset ('template_admin/js/lib/match-height/jquery.matchHeight.min.js')}}"></script>
	<script src="{{ asset ('template_admin/js/app.js')}}"></script>
	

</body>
</html>





